/*
    Первое, что нужно сделать – это указать контейнеру display: flex или display: inline-flex

    Одним из основных понятий в fleхbox являются оси.

        Главной осью flex-контейнера является направление, в соответствии с которым располагаются все его дочерние элементы.

        Поперечной осью называется направление, перпендикулярное главной оси.

        Задаётся с помощью св-ва flex-direction:

            flex-direction: row (значение по умолчанию, слева направо)

            flex-direction: row-reverse (справа налево)

            flex-direction: column (сверху вниз)

            flex-direction: column-reverse (снизу вверх)

        Для выравнивания по оси используется justify-content:

            justify-content: flex-start (значение по умолчанию, блоки прижаты к началу главной оси)

            justify-content: flex-end (блоки прижаты к концу главной оси)

            justify-content: center (блоки располагаются в центре главной оси)

            justify-content: space-between (первый блок располагается в начале главной оси, последний блок – в конце, все остальные блоки равномерно распределены в оставшемся пространстве)

            justify-content: space-around (все блоки равномерно распределены вдоль главной оси, разделяя все свободное пространство поровну)

        Для выравнивания по поперечной оси используется align-items:

            align-items: flex-start (блоки прижаты к началу поперечной оси)

            align-items: flex-end (блоки прижаты к концу поперечной оси)

            align-items: center (блоки располагаются в центре поперечной оси)

            align-items: baseline (блоки выровнены по их baseline)

            align-items: stretch (значение по умолчанию,  блоки растянуты, занимая все доступное место по поперечной оси, при этом все же учитываются min-width/max-width, если таковые заданы)


        СSS свойства flex-direction, justify-content, align-items должны применяться непосредственно к flex-контейнеру, а не к его дочерним элементам
*/