<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">

        <!-- {{ message }} -->

        <!-- <span v-bind:title="message">Move</span> -->

        <!-- <p v-if="seen">Some text</p> -->

        <!-- <ul>
            <li v-for="item in items">
                {{ item.text }}
            </li>
        </ul> -->

        <!-- <p> {{ message }} </p> -->
        <!-- <button v-on:click="reverseMessage">Перевернуть сообщение</button> -->

        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue',
                seen: true,
                items: [
                    { text: 'one' },
                    { text: 'two' },
                    { text: 'three' },
                ]
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</body>
</html>